@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.container {
  margin-top: 1em;
  width: 65%;
  max-height: 95vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #ecf0f1;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.container::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow-y: hidden;
}

.container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: transparent;
}

.container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(160, 160, 160, 0.753);
}

.container::-webkit-scrollbar {
  width: 7px;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 540px;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.card-info {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.card-image {
  height: 300px;
  border: 1px solid transparent;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .cards-container {
    height: 100%;
    width: 100%;
  }

  .card-image {
    height: 100%;
  }
}
